/* основний колір тексту: #2B2929 */
/* вторинний колір тексту: #535353 */
/* колір-акцент: #FFBC57 */
/* білий колір тексту: #FFFFFF */
/* основний колір фону: #F8F8F8 */

:root {
    --main-text-color: #2B2929;
    --secondary-etxt-color: #535353;
    --white-text-color: #FFFFFF;
    --primary-bg-color: #F8F8F8;
    --accent-color: #FFBC57;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.4;
    color: #2B2929;
    background-color: var(--primary-bg-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2,
h3 {
    font-weight: 600;
}

.container {
    width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 1px solid red;
}

.section {
    margin-bottom: 70px;
}

.section-title {
    font-size: 40px;
    /* font-weight: 600; */
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 40px;

    color: var(--main-text-color);
}

.button {
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;

    cursor: pointer;
    border-radius: 8px;
    border: transparent;
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* СТИЛІ ДЛЯ ХЕДЕРА  */
.header {
    margin-bottom: 30px;
}

.header .list-about {
    display: flex;
}

.item-about+.item-about {
    margin-left: 30px;
}

.header .link-about {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.9;

    color: var(--secondary-etxt-color);
}

.header .link-about:hover,
.header .link-about:focus {
    color: var(--accent-color);
}

.help-consul {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.9;

    color: var(--secondary-etxt-color);
}

.header-bg {
    background-color: var(--white-text-color);
}

.catalog {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 145px;
}

.header .work-hours {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;

    color: var(--secondary-etxt-color);
}

.header-tel {
    font-size: 20px;
    /* font-weight: 600; */
    /* line-height: 1.4; */

    color: var(--main-text-color);
}

.list-wrapper {
    display: flex;
}

.icons-list {
    display: flex;
}

.icons-item:not(:last-child) {
    margin-right: 40px;
}

.species-list {
    display: flex;
    margin-left: auto;
}

.species-item {
    margin-right: 40px;
}

.species-item:last-child {
    margin-right: 0;
}

.icons-list .icons-link,
.species-list .species-link {
    font-size: 19px;
    /* font-weight: 600; */
    line-height: 1.26;

    color: var(--secondary-etxt-color);
}

/* СТИЛІ ДЛЯ "ГЕРОЙ" */

/* СТИЛІ ДЛЯ "ПОПУЛЯРНІ КАТЕГОРІЇ" */
.popular-categories .list-categories {
    display: flex;
    flex-wrap: wrap;
}

.item-categories {
    margin-right: 10px;
    margin-bottom: 24px;
    /* width: 250px; */
    width: calc((100% - 40px) /5);
    border: 1px solid gray;
}

.item-categories:nth-child(5n) {
    margin-right: 0;
}

.item-categories:nth-last-child(-n+5) {
    margin-bottom: 0;
}

.popular-categories .description {
    font-size: 20px;
    margin: 0;
    /* font-weight: 600; */
    /* line-height: 1.4; */
}

.popular-categories .title-descr {
    color: var(--main-text-color);
}

.popular-categories .amount {
    color: #B1B1B1;
}

/* СТИЛІ ДЛЯ "НАЙПОПУЛЯРНІШІ ТОВАРИ" */
.section.popular-products {
    margin-bottom: 80px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section-title.no-margin {
    margin-bottom: 0;
    margin-right: 30px;
}

.view-all {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 19px;
    /* font-weight: 600; */
    line-height: 1.3;

    color: var(--accent-color);
}

.popular-products .list-products {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.item-products {
    padding: 20px;
    width: 300px;
    margin: 15px;
    /* margin-right: 30px;
    margin-bottom: 30px; */
    /* width: calc((100% - 90px) / 4); */

    border: 1px solid black;
}

/* .item-products:nth-child(4n) {
    margin-right: 0;
} */

/* .item-products:nth-last-child(-n + 4) {
    margin-bottom: 0;
} */

.popular-products .size {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;

    color: var(--secondary-etxt-color);
}

.link-title {
    font-size: 19px;
    /* font-weight: 600; */
    line-height: 1.3;

    color: var(--main-text-color);
}

.in-stock {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
    color: var(--main-text-color);
}

.past-price {
    font-size: 15px;
    line-height: 1.5;
    text-decoration-line: line-through;

    color: #E03D3D;
}

.current-price {
    font-size: 20px;
    /* font-weight: 600; */
    /* line-height: 1.4; */

    color: var(--main-text-color);
}

/* СТИЛІ ДЛЯ "АКЦІЇ" */
.title-shares {
    margin-bottom: 46px;
}

.list-shares {
    display: flex;
}

.item-shares:not(:last-child) {
    margin-right: 30px;
}

/* СТИЛІ ДЛЯ "ОСТАННІ ВІДГУКИ" */
.last-reviews {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #E9E9E9;
}

.last-reviews .logo-rating {
    display: flex;
}

.logo-reviews {
    margin-right: 30px;
}

.wrapper-rating {
    margin-bottom: 40px;
    max-width: 300px;
}

.title-rating {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    /* font-weight: 600; */
    /* line-height: 1.4; */

    color: var(--main-text-color);
}

.rating {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--accent-color);
}

.count-rating {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;

    color: var(--secondary-etxt-color);
}

.write-review {
    padding: 13px 13.5px;
    margin-right: 30px;
    min-width: 210px;
}

.all-reviews {
    font-size: 19px;
    /* font-weight: 600; */
    line-height: 1.3;

    color: var(--secondary-etxt-color);
}

.list-reviews {
    display: flex;
}

.item-reviews {
    padding: 30px;
    width: 450px;

    border-radius: 8px;
    border: 1px solid #E3E2E2;
    background: #FFF;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

.item-reviews>.name-date {
    display: flex;
    margin-bottom: 2px;
}

.name-reviews {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 208px;
    font-size: 17px;
    font-weight: 400;
    /* line-height: 1.4; */

    color: var(--main-text-color);
}

.descr-reviews {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 40;
    line-height: 1.87;

    color: var(--secondary-etxt-color);
}

.link-reviews {
    font-size: 20px;
    /* font-weight: 600; */
    /* line-height: 1.4; */

    color: var(--secondary-etxt-color);
}

.date-reviews {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-weight: 400;
}

/* СТИЛІ ДЛЯ "СВІЖІ СТАТТІ ТА ОСТАННІ НОВИНИ" */
.list-articles {
    display: flex;
}

.item-articles {
    width: 410px;
    /* width: calc((100% - 60px) / 3); */

    border-radius: 8px;
    /* border: 1px solid #E3E2E2; */
    border-left: 1px solid #E3E2E2;
    border-bottom: 1px solid #E3E2E2;
    border-right: 1px solid #E3E2E2;
    background-color: var(--white-text-color);
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

.item-articles+.item-articles {
    margin-left: 30px;
}

.read-blog {
    font-size: 19px;
    /* font-weight: 600; */
    line-height: 1.3;

    color: var(--accent-color);
}

.title-detail {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

}

.news-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 26px;
    /* font-weight: 600; */
    line-height: 1.3;
}

.articles-news .link-detail {
    font-size: 19px;
    /* font-weight: 600; */
    line-height: 1.3;

    color: var(--accent-color);
}


/* СТИЛІ ДЛЯ "ПРО:ПЕРЕВАГИ" */
.about {
    margin-bottom: 0;
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: var(--white-text-color);
}

.wrapper-description {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
}

.about .after-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 40px;
    /* font-weight: 600; */
    line-height: 1.2;
    text-align: center;

    color: var(--main-text-color);
}

.about-text {
    margin-bottom: 70px;
    font-weight: 400;
    line-height: 1.87;

    color: var(--main-text-color);
}

/* "ПЕРЕВАГИ" */
.list-benefits {
    display: flex;
    align-items: center;
}

.item-benefits {
    max-width: 200px;
    margin-right: 30px;
}

.item-benefits:last-child {
    margin-right: 0;
}

.benefits-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    /* font-weight: 600; */
    /* line-height: 1.4; */

    color: var(--main-text-color);
}

/* СТИЛІ ДЛЯ ФУТЕРА */
.footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: var(--main-text-color);
}

.footer .wrapper-footer {
    display: flex;
}

.wrapper-item+.wrapper-item {
    margin-left: 83px;
}

.wrapper-item>.link-logo {
    display: block;
    margin-bottom: 40px;
}

.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 24px;

    color: var(--white-text-color);
}

.footer-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    /* font-weight: 600; */
    /* line-height: 1.4; */

    color: var(--white-text-color);
}

.footer-link {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.41;

    color: var(--primary-bg-color);
}

.connection {
    font-size: 20px;
    font-style: normal;
    /* font-weight: 600; */
    /* line-height: 1.4; */
}

.footer-connection {
    color: var(--white-text-color);
}


.footer-call {
    color: var(--accent-color);
}

.footer .copyright {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.5;

    color: #B1B1B1;
}